:root {
    --headerBar-bool: #009688;
    --bottom-icons-bool: #727677;
    --top-icons-bool: #B1B1B1;
    --notificatons-bool: #8EDAFC;
    --bottom-bg-bool: #D2DBDB;
    --user-msg-bool: #D5F9BA;
    --top-bg-bool: #DDDBD1;
    --light-gray-bar-bool: #EAEAEA;
    --bottom-bar-bool: #F3EEEA;
    --white-bool: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#region utility*/
.white_bg_bool {
    background-color: var(--white-bool);
}

/*#endregion utility*/

.bg_app {

    height: 100vh;
    position: relative;
}

.bg_top {
    height: 140px;
    background-color: #009688;
}

.bg_bottom {
    height: calc(100% - 140px);
    background-image: linear-gradient(#DDDBD1, #D2DBDB);
}

.main {
    background-color: #B1B1B1;
    height: 90%;
    width: 90%;
    position: absolute;
    top: 20px;
    left: calc(50% - 90%/2);
}

img {
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}


.right_users_header {
    color: var(--top-icons-bool);
}